<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>76669435294-4rl99g83g6mj1uv83n826o1101c7gnnq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.76669435294-4rl99g83g6mj1uv83n826o1101c7gnnq</string>
	<key>API_KEY</key>
	<string>AIzaSyCd5_HvyZqasfdQpCXzXdhosh5FgDfcXmI</string>
	<key>GCM_SENDER_ID</key>
	<string>76669435294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tenevg.Todo-list-with-Firebase</string>
	<key>PROJECT_ID</key>
	<string>todo-list-fb1cb</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-list-fb1cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76669435294:ios:929d421ac92ecd07af6a8f</string>
</dict>
</plist>