<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852481790380-e12kbdni01ti0eoa2lqp9uu4tssr77a8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852481790380-e12kbdni01ti0eoa2lqp9uu4tssr77a8</string>
	<key>API_KEY</key>
	<string>AIzaSyBrHW5wQj4zDUZ7z5rBM3w1F9vu_-hMn64</string>
	<key>GCM_SENDER_ID</key>
	<string>852481790380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tenevg.Todo-list-with-Firebase</string>
	<key>PROJECT_ID</key>
	<string>todofb-9efb0</string>
	<key>STORAGE_BUCKET</key>
	<string>todofb-9efb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852481790380:ios:9219df4447294fd255aa09</string>
</dict>
</plist>